{{> HeaderChat name='Андрей'}}
<div class="messenger__home-content-chat-container">
	<div class="messenger__home-content-chat">
		{{> ChatMessage value='Привет! Смотри, тут всплыл интересный кусок лунной космической истории —
		НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для
		полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL
		— и к слову говоря, все тушки этих камер все еще находятся на поверхности
		Луны, так как астронавты с собой забрали только кассеты с пленкой.
		Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на
		ракету они так никогда и не попали. Всего их было произведено 25 штук, одну
		из них недавно продали на аукционе за 45000 евро.'}}
		{{> ChatMessage value='Круто !' me=true}}
		{{> ChatMessage value='Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.' me=true}}
		{{> ChatMessage img='https://static.nationalgeographic.co.uk/files/styles/image_3200/public/Mighty-2048.jpg?w=710&h=400' me=true }}
		{{> ChatMessage value='Где его взять?
		Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.'}}
	</div>	
</div>
{{> Sendmessage}}