<main class='messenger__home'>
  <div class='messenger__home-sidebar'>
    {{> Search }}
    <div class='messenger__home-sidebar-chats'>
      {{> ChatCart name='Андрей' value='Изображение' dateTime='10:49' badge='2' }}
      {{> ChatCart name='Киноклуб' value='Вы: стикер' dateTime='12:00' }}
      {{> ChatCart name='Илья' value='Друзья, у меня для вас особенный выпуск новостей!...' dateTime='15:12' badge='4'
      }}
      {{> ChatCart name='Вадим' value='Вы: Круто!' dateTime='Пт' }}
      {{> ChatCart name='тет-а-теты' value='И Human Interface Guidelines и Material Design рекомендуют...' dateTime='Ср'
      }}
      {{> ChatCart name='1, 2, 3' value='Миллионы россиян ежедневно проводят десятки часов свое...' dateTime='Пн' }}
      {{> ChatCart name='Design Destroyer' value='В 2008 году художник Jon Rafman  начал собирать...' dateTime='Пн' }}
      {{> ChatCart name='Day.' value='Так увлёкся работой по курсу, что совсем забыл его анонсир...' dateTime='1 Мая
      2020' }}
      {{> ChatCart name='Стас Рогозин' value='Можно или сегодня или завтра вечером.' dateTime='12 Апр 2020' }}
      {{> ChatCart name='Андрей' value='Изображение' dateTime='10:49' badge='2' }}
      {{> ChatCart name='Киноклуб' value='Вы: стикер' dateTime='12:00' }}
      {{> ChatCart name='Илья' value='Друзья, у меня для вас особенный выпуск новостей!...' dateTime='15:12' badge='4'
      }}
      {{> ChatCart name='Вадим' value='Вы: Круто!' dateTime='Пт' }}
      {{> ChatCart name='тет-а-теты' value='И Human Interface Guidelines и Material Design рекомендуют...' dateTime='Ср'
      }}
      {{> ChatCart name='1, 2, 3' value='Миллионы россиян ежедневно проводят десятки часов свое...' dateTime='Пн' }}
      {{> ChatCart name='Design Destroyer' value='В 2008 году художник Jon Rafman  начал собирать...' dateTime='Пн' }}
      {{> ChatCart name='Day.' value='Так увлёкся работой по курсу, что совсем забыл его анонсир...' dateTime='1 Мая
      2020' }}
      {{> ChatCart name='Стас Рогозин' value='Можно или сегодня или завтра вечером.' dateTime='12 Апр 2020' }}
    </div>
  </div>
  <div class='messenger__home-content'>
    {{!-- {{> Message }} --}}
    {{> Chat }}
  </div>
  </main>
  {{> Modal }}