<div class='messenger__home-sidebar-chats-chat'>
	<div class='messenger__home-sidebar-chats-chat-avatar'>
		<img src="https://static.nationalgeographic.co.uk/files/styles/image_3200/public/Mighty-2048.jpg?w=710&h=400" alt="">
	</div>
	<div class='messenger__home-sidebar-chats-chat-content'>
		<div class='messenger__home-sidebar-chats-chat-title'>
			<div class='messenger__home-sidebar-chats-chat-name'>{{name}}</div>
			<div class='messenger__home-sidebar-chats-chat-date'>{{dateTime}}</div>
		</div>
		<div class='messenger__home-sidebar-chats-chat-info'>
			<div class='messenger__home-sidebar-chats-chat-text'>{{value}}</div>
			{{#if badge}}
				<div class='messenger__home-sidebar-chats-chat-badge'>{{badge}}</div>
			{{/if}}
		</div>
	</div>
</div>