{{#if value}}
	<div {{#if me}}class="messenger__home-content-chat-message me" {{else}}class="messenger__home-content-chat-message"{{/if}}>
		<p>
			{{value}}
		</p>
		<div class='messenger__home-content-chat-message-date'>11:56</div>
	</div>
{{/if}}

{{#if img}}
	<div {{#if me}}class="messenger__home-content-chat-message img me" {{else}}class="messenger__home-content-chat-message img"{{/if}}>
		<img src={{img}} alt='' />
		<div class='messenger__home-content-chat-message-date'>11:56</div>
	</div>
{{/if}}