<section class='notFound'>
	<div class='notFound-title'>
		404
	</div>
	<div class='notFound-subTitle'>
		Не туда попали
	</div>
	<div onclick="goToPage('home')" class='notFound-btn'>
		Назад к чатам
	</div>
</section>
{{> Modal }}