<section class='notFound'>
	<div class='notFound-title'>
		500
	</div>
	<div class='notFound-subTitle'>
		Мы уже фиксим
	</div>
	<div onclick="goToPage('home')" class='notFound-btn'>
		Назад к чатам
	</div>
</section>
{{> Modal }}